@charset "utf-8";
.footer {
background-color: #1b1b1b;
align-content: center;
text-align:center;
height: 50px;
padding-bottom: 1%;
position: fixed; 
bottom: 0;
left: 0;
right: 0;
height: 50px;
}

p { 
color: white;
font-family: 'PT Sans', sans-serif;
font-size: 13px;
}

a:hover {
    color: #fff;
   
}

